build.*.properties

dist
tmp

java/bin
java/classes
java/dist
java/src/app-log4j-ext.xml
java/.settings

LiferayNativityShellExtensions/ipch

LiferayNativityShellExtensions/*.opensdf
LiferayNativityShellExtensions/Release
LiferayNativityShellExtensions/Debug
LiferayNativityShellExtensions/LiferayNativityWindowsUtil/Release
LiferayNativityShellExtensions/LiferayNativityWindowsUtil/Debug
